name: Build & test plugin

on:
  push:
    branches: [ main ]
  pull_request:

permissions:
  contents: read
  pull-requests: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Setup enviroment
        uses: scipion-chem/.github/.github/composites/install-scipion@main

      - name: Clone scipion-chem
        uses: scipion-chem/.github/.github/composites/clone-in-branch@main
        with:
          path: ${{ github.workspace }}/../
          repo_url: https://github.com/scipion-chem/scipion-chem
          prioritized_branches: "${{ github.head_ref }},${{ github.base_ref }}"

      - name: Install scipion-chem
        working-directory: ${{ github.workspace }}/../
        run: scipion/scipion3 installp -p scipion-chem/ --devel

      - name: Checkout repository
        uses: actions/checkout@main
        with:
          ref: ${{ github.head_ref }}

      - name: Install plugin from pull request
        working-directory: ${{ github.workspace }}
        run: ../scipion/scipion3 installp -p . --devel

      - name: Run tests
        working-directory: ${{ github.workspace }}/../
        env:
          TEST_MODULE: ${{ vars.FOLDER_WITH_VERSION }}
        run: |
          pip install --user scipion-testrunner
          scipion_testrunner ./scipion/scipion3 $TEST_MODULE --noGpu --testData=${{ github.workspace }}/$TEST_MODULE/testData.json

      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@master
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}